@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #000000;
}

.border-gradient {
  background: linear-gradient(
    45deg,
    #f09433,
    #e6683c,
    #dc2743,
    #cc2366,
    #bc1888
  );
  padding: 2px;
  border-radius: 50%;
  display: inline-block;
  background-clip: padding-box;
}
